<carousel-prev-button class="floating-controls-container__control" aria-controls="{{ carousel_id }}">
  <button
    class="prev-next-button prev-next-button--prev circle-button circle-button--lg hover:animate-icon-inline"
    disabled
  >
    <span class="sr-only">Previous</span>
    {% render 'icon' with 'arrow-left', direction_aware: true %}
  </button>
</carousel-prev-button>

<scroll-carousel
  class="subcollections__wrapper subcollections__wrapper-carousel scroll-area"
  id="{{ carousel_id }}"
  group-cells
>
  {% render 'subcollection-bubble-list', content: content, text_style: settings.subcollection_text_style %}
</scroll-carousel>

<carousel-next-button class="floating-controls-container__control" aria-controls="{{ carousel_id }}">
  <button class="prev-next-button prev-next-button--next circle-button circle-button--lg hover:animate-icon-inline">
    <span class="sr-only">Next</span>
    {% render 'icon' with 'arrow-right', direction_aware: true %}
  </button>
</carousel-next-button>
